@import "utilidades/variables";
@import "utilidades/mixin";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: $color-principal;
    @include medidas(100%, 20vh);
    border-color: $color-secundario;
    border-style: solid;
    border-width: 25px;
    border-bottom: $color-principal;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}
header{
    nav{
        ul{
            display: flex;
            gap: 15px;
            list-style: none;
            margin-right: 350px;
            padding-right:150px;
        }
    }
}


header{
    img{
    width: 10%;
    margin: 20px;
}
    
}
main{
    h1{
        color: $color-secundario;
        font-size: 25px;
        font-family: "Indie Flower", cursive;
        font-weight: bolder;
        font-style: normal;
        align-items: last baseline;
        text-align: center;
        margin-bottom:40px ;

    }
    
    
}
header{
    nav{
        ul{
            li{
                a{
                    color:$color-secundario;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }}


.indexMain{
    background-color:$color-principal;
    @include medidas(100%,100%);
    display: grid;
    align-content: center;
    row-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows:auto ;
    padding: 50px;
    margin: 0px;
    border-color: $color-secundario;
    border-style: solid;
    border-width: 25px;
    border-top: $color-principal;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;} 
    
.articleIndex{
    img{
        @include medidas(70%, 40%);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-left: 60px;
    }
}
    
.articleIndex{
    button{
        display: grid;
        justify-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        column-gap: 10px;
        align-items: center;
    }
        
        
}
.articleIndex{
    h2{
        margin-bottom: 20px;
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        font-weight: bold;
        text-align: center
    }
}
.articleIndex{
    p{
        font-size: 25px;
        font-family: "Indie Flower", cursive;
        font-weight: 300;
        font-style: normal;
        text-align: center;
    }
}
    
.contactMain{
        background-color: $color-principal;
        @include medidas(100%,100%);
        padding: 50px;
        margin: 0px;
        border-color: $color-secundario;
        border-top: $color-principal;
        border-style: solid;
        border-width: 25px;
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-style: normal;
}
.contactMain{
    img{
        width: 100px;
    }
        
}
.hablemos{
    h2{
        font-size: 72px;
    }
        
}
.productsMain{
        background-color: $color-principal;
        @include medidas(100%,100%);
        display: flex;
        flex-flow: row wrap ;
        display: grid;
        align-content: center;
        row-gap: 10px;
        grid-template-columns: auto;
        grid-template-rows:auto ;
        padding: 50px;
        margin: 0px;
        border-color: $color-secundario;
        border-style: solid;
        border-width: 25px;
        border-top: $color-principal;
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-style: normal;
}
.artP{
    img{
        @include medidas(250px,250px);
    }
        
}
.artP{
        text-align: center;
    }
.usMain{
        background-color: $color-principal;
        @include medidas(100%,100%);
        padding: 50px;
        margin: 0px;
        border-color: $color-secundario;
        border-style: solid;
        border-width: 25px;
        border-top: $color-principal;
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-style: normal;
}
.artUs{
    img{
        @include medidas(200px,300px);
    }
    
}
.zonaMain{ 
        background-color: $color-principal;
        @include medidas(100%,100%);
        padding: 50px;
        margin: 0px;
        border-color: $color-secundario;
        border-style: solid;
        border-width: 25px;
        border-top: $color-principal;
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-style: normal;
}
main{
    section{
        div{
            iframe{
                width: 100%;
            }
        }
    }
}


footer{
        background-color: $color-principal;
        height: 10vh;
        padding: 50px;
        margin: 0px;
        border-color: $color-secundario;
        border-style: solid;
        border-width: 25px;
        border-top: $color-principal;
        font-family: "Indie Flower", cursive;
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        text-align: center;
        padding: 30px;
    }
@media screen and (min-width:768px){
    header{
        justify-content: space-between;
        align-items: center;
        display: flex;
        background-color: $color-principal;
        width: 100%;
        height: 20vh;
        border-bottom:3px solid $color-secundario;
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        padding: 0 20px;
        box-sizing: border-box;
        
}
header{
    nav{
        ul{
            display: flex;
            gap: 30px;
            list-style: none;
            margin: 0;
            padding: 0;
            align-items: center;
        }
    }
}
        
}
header{
    img{
        width: 8%;
        margin-top: 30px;
    }
}
header{
    nav{
        ul{
            li{
                a{
                    color: $color-secundario;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }
        
}

.indexMain{
        background-color: $color-principal;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px; 
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
        border-color: $color-secundario;
        border-style: solid;
        border-width: 25px;
        border-top: $color-principal;
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-style: normal;    
}
    main{
        h1{
            grid-column: 1 / -1;
            color:$color-secundario;
            font-size: 60px;
            font-family: "Indie Flower", cursive;
            font-weight: bolder;
            font-style: normal;
            text-align: center;
            margin: bottom 20px;
        }
    }
.articleIndex{
        display: flex;
        flex-direction: column;
        padding: 20px;
}
.articleIndex{
    h2{
        font-family: "Indie Flower", cursive;
        font-weight: bold;
        font-style: normal;
        font-size: 30px;
        font-weight: bold;
        margin: 10px 0;
    }

}
.articleIndex{
    p{
        font-size: 25px;
        font-family: "Indie Flower", cursive;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        margin: 10px 0;
    }

        
}

button{
        background-color: $color-secundario;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 18px;
        margin-top: 20px;
        text-align: center;
}

button{
    a{
        color: white;
        text-decoration: none;
    }

}

.indexMain{
    section{
        article{
            img{
                max-width: 100%;
                object-fit: cover;
                @include medidas(350px,auto);
                padding: 30px;
            }
        }
    }

        
}
.contactMain{
    background-color: $color-principal;
    @include medidas(100%,100%);
    padding: 50px;
    margin: 0px;
    border-color: $color-secundario;
    border-top: $color-principal;
    border-style: solid;
    border-width: 25px;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
.contactMain{
img{
    width: 100px;
}
    
}
.hablemos{
h2{
    font-size: 72px;
}
    
}
.productsMain{
    background-color: $color-principal;
    @include medidas(100%,100%);
    display: flex;
    flex-flow: row wrap ;
    display: grid;
    align-content: center;
    row-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows:auto ;
    padding: 50px;
    margin: 0px;
    border-color: $color-secundario;
    border-style: solid;
    border-width: 25px;
    border-top: $color-principal;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
.artP{
img{
    @include medidas(250px,250px);
}
    
}
.artP{
    text-align: center;
}
.usMain{
    background-color: $color-principal;
    @include medidas(100%,100%);
    padding: 50px;
    margin: 0px;
    border-color: $color-secundario;
    border-style: solid;
    border-width: 25px;
    border-top: $color-principal;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
.artUs{
img{
    @include medidas(200px,300px);
}

}
.zonaMain{ 
    background-color: $color-principal;
    @include medidas(100%,100%);
    padding: 50px;
    margin: 0px;
    border-color: $color-secundario;
    border-style: solid;
    border-width: 25px;
    border-top: $color-principal;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
main{
section{
    div{
        iframe{
            width: 100%;
        }
    }
}

footer{
        text-align: center;
        padding: 10px;
        background-color: #d4c2fc;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    
@media screen and (min-width:1024px){
    header{
            justify-content: space-between;
            align-items: center;
            display: flex;
            background-color: $color-principal;
            @include medidas(100%,20vh);
            border-bottom:3px solid $color-secundario;
            font-family: "Indie Flower", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            padding: 0 20px;
            box-sizing: border-box;
            
    }
    header{
        nav{
            ul{
                display: flex;
                gap: 30px;
                list-style: none;
                margin: 0;
                padding: 0;
                align-items: center;
            }
        }
    }
            
    }
    header{
        img{
            width: 8%;
            margin-top: 30px;
        }
    }
    header{
        nav{
            ul{
                li{
                    a{
                        color: $color-secundario;
                        text-decoration: none;
                        font-weight: bold;
                    }
                }
            }
        }
            
    }
    
    .indexMain{
            background-color: $color-principal;
            @include medidas(100%,100%);
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 20px; 
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
            border-color: $color-secundario;
            border-style: solid;
            border-width: 25px;
            border-top: $color-principal;
            font-family: "Indie Flower", cursive;
            font-weight: 400;
            font-style: normal;    
    }
        main{
            h1{
                grid-column: 1 / -1;
                color: $color-secundario;
                font-size: 60px;
                font-family: "Indie Flower", cursive;
                font-weight: bolder;
                font-style: normal;
                text-align: center;
                margin: bottom 20px;
            }
        }
    .articleIndex{
            display: flex;
            flex-direction: column;
            padding: 20px;
    }
    .articleIndex{
        h2{
            font-family: "Indie Flower", cursive;
            font-weight: bold;
            font-style: normal;
            font-size: 30px;
            font-weight: bold;
            margin: 10px 0;
        }

    }
    .articleIndex{
        p{
            font-size: 25px;
            font-family: "Indie Flower", cursive;
            font-weight: 300;
            font-style: normal;
            text-align: center;
            margin: 10px 0;
        }

            
    }
    
    button{
            background-color: $color-secundario;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 18px;
            margin-top: 20px;
            text-align: center;
    }
    
    button{
        a{
            color: white;
            text-decoration: none;
        }

    }
    
    .indexMain{
        section{
            article{
                img{
                    max-width: 100%;
                    object-fit: cover;
                    @include medidas(350px,auto);
                    padding: 30px;
                }
            }
        }

            
    }
    footer{
            text-align: center;
            padding: 10px;
            background-color: #d4c2fc;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

    }